.banner{
  background-image: image-url('https://unsplash.it/1000/400?image=777');
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 150px;
}

.banner-content {
  color: #FFF;
  position: relative;
  z-index: 2;
}

.banner-shadow {
  background-color: rgba(87,102,137, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
